.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  background-color: var(--very-dark-blue);
  padding: 2rem 1.6rem;
  border-radius: 1rem;
}

.logo {
  width: 2.5rem;
  height: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-right: 3rem;
}

.navlink-img {
  width: 1.6rem;
  height: 1.6rem;
}

.navlink-img:hover {
  fill: var(--color-red);
  transition: all 0.5s;
}

.active {
  fill: var(--white);
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid var(--white);
  border-radius: 100%;
}

.login {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .navigation {
    margin: 2.3rem 2.4rem;
  }

  .navlink-img {
    width: 2rem;
    height: 2rem;
  }

  .logo {
    width: 3.2rem;
    height: 2.56rem;
  }

  .login {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 769px) {
  .navigation {
    position: absolute;
    flex-direction: column;
    width: 9.6rem;
    height: 96rem;
    margin: 3.2rem;
  }

  .nav-links {
    flex-direction: column;
    margin-bottom: 50rem;
    margin-right: 3.7rem;
  }

  .navlink-img {
    width: 2rem;
    height: 2rem;
  }

  .logo {
    width: 3.2rem;
    height: 2.56rem;
  }

  .login {
    width: 4rem;
    height: 4rem;
  }
}
