.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  background-color: var(--very-dark-blue);
  padding: 2rem 1.6rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-right: 3rem;
}

.avatar {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid var(--white);
  border-radius: 100%;
}
