.logo {
  display: flex;
  justify-content: center;
  margin: 4.8rem 17.2rem 5.8rem;
}

@media screen and (min-width: 769px) {
  .logo {
    margin: 8rem 0 7.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    margin: 7.2rem 0 8rem;
  }
}
