.search-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1.6rem;
  margin-top: 2.4rem;
}
.search {
  width: 25.7rem;
  height: 2.4rem;
  border: none;
  outline: none;
  background-color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--white);
  margin-left: 1.6rem;
  caret-color: var(--color-red);
}
