.trending-card {
  width: 24rem;
  height: 14rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.trending-image {
  width: 100%;
  position: relative;
}

.bookmark-icon-wrapper {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8%;
  right: 8%;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background: #10141e;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.description {
  position: absolute;
  bottom: 20%;
}
